@model INVENTARIO.BL.BE.UsuarioBE

@{
    ViewBag.Title = "NuevoPassword";
    Layout = "~/Views/Layout/_LayoutNuevoPassword.cshtml";
}


<p class="titulo">Nuevo Password</p>

<table class="tablaForm">
    @using (Html.BeginForm("ActualizarPassword", "Usuario", FormMethod.Post))
    {
        <tr>
            <td>Usuario: </td>
            <td><input type="text" name="txtUsuario" placeholder="Usuario" /></td>
        </tr>
        <tr>
            <td>Password_Anterior: </td>
            <td><input type="text" name="txtPassword" placeholder="Password Anterior" /></td>
        </tr>
        <tr>
            <td>Nuevo_Password: </td>
            <td><input type="text" name="txtPasswordNuevo" placeholder="Nuevo Password" /></td>
        </tr>
        <tr>
            <td>Confirmar_Password: </td>
            <td><input type="text" name="txtPasswordNuevoConfirmar" placeholder="Confirmar Password" /></td>
        </tr>
        <tr>
            <td align="right"><button type="submit">Actualizar</button></td>
        </tr>
    }
</table>


