<!DOCTYPE html>

<html>
<head>
    <link href="~/Estilos/Estilos.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   

    <div class="principal">
        <div class="encabezado"></div>
        
        <div class="contenido">
            @RenderBody()
        </div>


    </div>


</body>
</html>
