@model INVENTARIO.BL.BE.UsuarioBE

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Layout/_LayoutInicio.cshtml";
}

<br />
<table class="tablaInicio">
    <tr>
        <td><center><p class="tituloInicio">SISTEMA DE INVENTARIO</p></center></td>
    </tr>
    <tr>
        <td><center><p class="imagen"><img src="/Estilos/Imagenes/SiseLogo.png" width="160" height="160" /><p></p></center></td>
    </tr>
</table>

